

html * {
  margin: 0;
  font-family: "Jockey One", sans-serif;
}
button {
  box-shadow: 0 0.275rem 1.125rem rgba(0,0,0,.25), inset 0 0.0625rem 0 hsla(0,0%,100%,.2), inset 0 -0.125rem 0 rgba(0,0,0,.3);
}

.home {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.cesium-container {
  height: 100vh;
  width: 70vw;
  transform: translateX(-12vw);
  z-index: 100;
  position: fixed;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  transition: transform 1s;
}
.cesium-container.cesium_singleplayer,
.cesium-container.cesium_multiplayer {
  width: 100vw;
  transform: translateX(0vw) translateY(calc(83px/2));
  animation: none;
  opacity: 1;
}
.cesium-container.cesium_hidden {
  opacity: 0;
  animation: fadeOut 0.5s ease-in-out forwards;
}
.cesium-container.cesium_multiplayer {
  opacity: 0.5;
}

.home__content {
  position: fixed;
  z-index: 100;
  left: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  transform: translate(-50%);
  // slowly move to right while fading out when is hidden
  transition: left 0.5s, opacity 0.5s;
}
.home__content.cesium_shown {
  left: 66%;
}
.home__content.hidden {
  left: 100%;
  opacity: 0;
  animation: hide 0.5s ease-in-out forwards;
}

.home__btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  button {
    animation: fadeIn 0.4s ease-in-out forwards;
    opacity: 0;
  }

  gap: 10px;
}
.home__ui {
  /* vertically centered inside home__content */

}

.home__title {
  font-size: clamp(2em, 6vw, 13em);
  font-weight: 500;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px black;
  animation: fadeIn 0.4s ease-in-out forwards;
}

.accountBtnContainer {
  transition: all 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }

}

@keyframes hide {
  0% {
  }
  100% {
    display: none;
  }
}

.home__squarebtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

}


.home__squarebtnicon {
  transform: translateY(15%);
}
.home__squarebtn {
  padding-left: 20px;
  padding-right: 20px;
}

@for $i from 1 through 6 {
  .home__btns button:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.1}s;
  }
}

/* media query if height larger than width */
@media (max-aspect-ratio: 1/1) {
  .cesium-container {
    width: 100vw;
    transform: translateX(0);
  }
  .home__content {
    left: 50%;
  }
}

.home__singleplayer {
  z-index: 101;
}
.gameBtn {
  background-color: #327A60;
  color: white;
  font-size: clamp(1.5em, 3vw, 5em);
  text-shadow: 2px 2px black;
  -webkit-text-stroke: 1px black;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  box-shadow: 10px 3px 4px 0px rgb(0 0 0 / 35%);
  border-radius: 15px;
}
.gameBtn:hover {
  background-color: #225541;
}
// disabled gamebtn
.gameBtn[disabled] {
  background-color: #373737;
  cursor: not-allowed;
}
.accountBtn {
  position: fixed;
  right: 10px;
  top: 10px;
  width: auto;
  z-index: 101;
  font-size: clamp(1.5em, 2vw, 3em);
}
.navBtn {
  font-size: 1.5em;
  width: auto;
}
.backBtn {
  background-color: #AE4141;
  width: 100px;

  margin-left: 10px;
}
.backBtn:hover {
  background-color: darkred;
}
h1, h2, h3 {
  font-weight: 500;
  color: white;
}

/* hide cesium elements */
.cesium-viewer-animationContainer, .cesium-viewer-timelineContainer, .cesium-viewer-bottom, .cesium-viewer-fullscreenContainer, .cesium-viewer-toolbar {
  display: none !important;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 83px;
  display: flex;
  align-items: center;
  background-color: #0d0d32;
  backdrop-filter: blur(10px);
  z-index: 102;
  padding: 0 20px;

  // enter from top

  transition: all 0.5s;
}

.navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}


.navbar__title {
  font-size: 2.5em;
  font-weight: 500;
  color: white;
  user-select: none;
  cursor: pointer;
  transition: all 250ms ease;
}

.navbar__title:hover {
  transition: all 250ms ease;
  transform: scale(1.1);
}

.navbar__title:active {
  transition: all 250ms ease;
  transform: scale(0.8);
}




.navbar__right {
  margin-left: auto;
  display: flex;
  gap: 10px;
  margin-right: 25px;
  height: 80%;
}

.timer {
  z-index: 102;
  position: fixed;
  top: max(100px, 10%);
  right: 50%;
  font-size: max(2em, 2vw);
  background-color: #204B2C;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #555;
  border-radius: 10px;
  color: white;
  user-select: none;
  pointer-events: none;
  width: max-content;
  opacity: 0;
  transform: translateY(-100%);
}
.timer.shown {
  opacity: 100%;
  transform: translateY(0%) translateX(50%);
  transition: all 0.5s;
  animation: fadeIn 0.5s ease-in-out forwards;
}


// .top {
//   width: 100%;
//   height: 83px;
//   position: absolute;
//   z-index: 14;
//   top: 0px;
//   left: 0;
//   display: flex;
//   justify-content: space-between;
//   align-items: top;
//   user-select: none;
// }

// button {
//   user-select: none;
// }

// #timerDiv {
//   display: fixed;
//   position: absolute;
//   top: 10px;
//   right: 50%;
//   transform: translateX(50%);
//   padding: 10px;
//   z-index: 100;
//   background-color: rgba(42, 44, 71, 0.9);
//   backdrop-filter: blur(10px);
//   color: white;
//   font-size: 1.5em;
//   font-weight: 500;
//   border:  1px solid #555;
//   border-radius: 10px;
//   user-select: none;
// }

//  /*  on pc */
// @media screen and (min-width: 600px) {
//   #timerDiv {
//     top: 80px;
//   }

// }


// #leaderBoard {
//   width: 25vw;
//   height: calc(100vh - 83px);
//   position: fixed;
//   left: 0;
//   bottom: 0;
//   background-color: rgba(42, 44, 71, 0.9);
//   backdrop-filter: blur(10px);
//   text-align: center;
//   overflow-y: auto;
// }

// @media screen and (max-width: 600px) {
//   #leaderBoard {
//     display: none;
//   }
//   #leaderBoard.mobileOpen {
//     display: block;
//     width: 100vw;
//     height: calc(100vh - 83px - 90px);
//     bottom: 90px;
//     z-index: 100;
//   }
// }

// #leaderBoard h1 {
//   font-size: 1.5em;
//   font-weight: 500;
//   padding: 10px;
//   color: white;
// }

// #leaderBoard h2 {
//   font-size: 1.2em;
//   font-weight: 500;
//   padding: 10px;
//   color: white;
// }

// #leaderBoard ul {
//   list-style-type: none;
//   padding: 0;
//   margin-top: 10px;
// }

// #leaderBoard li {
//   margin: 10px;
//   padding: 10px;
//   border: 1px solid rgba(255, 255, 255, 0.5);
//   background-color: rgba(255, 255, 255, 0.1);
//   color: white;
//   cursor: pointer;
//   transition: transform 0.2s ease-in-out;
// }

// #leaderBoard.gameEnded {
//   width: 100vw;
// }



// .topItem {
//   backdrop-filter: blur(10px);
//   background-color: rgba(42, 44, 71, 0.9);
//   -webkit-backdrop-filter: blur(10px);
//   height: 75px;
//   user-select: none;
// }

// #logo img {
//   height: 40px;
//   width: auto;
// }

// .navButton, .iconButton {
//   background-color: #555;
//   color: white;
//   border: none;
//   padding: 10px 20px;
//   margin-left: 10px;
//   border-radius: 5px;
//   cursor: pointer;
//   transition: background-color 0.3s;
// }

// .navButton:hover, .iconButton:hover {
//   background-color: #777;
// }

// .iconButton {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   font-size: 20px;
// }

// #icon {
//   margin-top: 6px;
//   margin-left: 10px;
//   width: 18em;
//   transition: all 250ms ease;
// }

// #icon:hover {
//   transition: all 250ms ease;
//   transform: scale(1.1);
// }

// #icon:active {
//   transition: all 250ms ease;
//   transform: scale(0.8);
// }

// #innerMainDiv {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: flex-end;
//   flex-direction: row-reverse;


//   background-color: rgba(15, 16, 22, 0.9);

// }

// @media screen and (max-width: 600px) {
//   #innerMainDiv {
//     flex-direction: column;
//   }

// }

// #mapControls {
//   /* display: flex;
//   justify-content: space-between;
//   width: 100%;
//   padding: 10px;
//   margin-bottom: 10px; */
//   user-select: none;
// }

// img {
//   user-select: none;
// }



#miniMapArea {
  width: 30%;
  transition: all 200ms ease;
  height: 30%;
  max-height: 100%;
  z-index: 10;
  border-radius: 10px;
  position: absolute;
  right:  0px;
  display: flex;
  flex-flow: column;


  bottom: 40px;
  margin-top: auto;
  margin-left: auto;
  margin-right: 100px;

  transform: translateY(105%);
  opacity: 0;
}



#miniMapArea.shown {
  opacity: 50%;
  transform: translateY(0%);
  transition: all 0.5s;
}


#miniMapContent {
  cursor: crosshair;
  border: 5px solid #0F251D;
  height: 100%;
  border-radius: 10px;
  background-color: #B9D3DC;
}


@media screen and (max-width: 600px),
screen and (pointer:coarse) {
  #miniMapArea {
    transform: translateY(100%);
  }
  #miniMapArea.miniMap.shown {
    bottom: 0;
    right: 0;
    opacity: 100%;
    transform: translateY(0%);
    margin-right: 0;
    height:70%;
    width: 100%;
  }
  #miniMapArea.answerShown {
    transform: none;
  }
  #miniMapContent {
    border: none;
  }
}

.miniMap__btns {
  height: 10%;
  min-height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 10px;

}

.miniMap__btn {
  height: 100%;
  width: 100%;
  background-color: #0F251D;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 15px;
  // box-shadow: 10px 3px 4px 0px rgb(0 0 0 / 35%);
  // background-image: radial-gradient(150% 160% at 50% 15%,hsla(0,0%,100%,.6) 0,transparent 30%);
}

.mobile_minimap__btns {
  display: none;
}
@media screen and (max-width: 600px),
screen and (pointer:coarse) {
  .miniMap__btns {
    display: none;
  }
  .mobile_minimap__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    position: absolute;
    border-radius: 10px;
    right: 65px;
    bottom: 30px;
    animation: fadeIn 1s ease-in-out forwards;
  }
  .mobile_minimap__btns.miniMapShown {
    bottom: calc(70% + 5px);
    width: 100%;
    right: 0;
  }
  .mobileMiniMapExpandedToggle {
    width: 20%;
  }
}

.answerShownBtns {
  display: none;
}

.guessBtn {
  background-color: #112966;
}
.hintBtn {
  width: 20%;
  background-color: #0d4c1e;
  transition: all 250ms ease;
}
.hintBtn.hintShown {
  display: none;
}

.ol-viewport {
  border-radius: 10px;
}

.miniMap__btn.unavailable {
  background-color: #373737;
  cursor: not-allowed;
}


#streetview {
  user-select: none;
  border: none !important;
  transition: all 100ms ease;
  width: 100vw;
  height: calc(100vh - 5px);
  border: 3px;
    box-sizing: border-box;
    opacity: 1;
    transition: all 0.5s;
    animation: fadeIn 1s ease-in-out forwards;
}
#streetview.hidden {
  transform: translateY(-105%);
  opacity: 0;
  transition: all 0.5s;
}


@media screen and (min-width: 600px) {
  #miniMapArea.mapFullscreen {
    /* full screen center not 100% */
    transition: all 250ms ease;
    height: 50%;
    width: 45%;
  }
}


#miniMapArea.answerShown {
  width: 100%;
  height: calc(80vh - 118px);
  opacity: 100%;
  right: 0;
  top: 83px;
  margin-right: 0;
  margin-top: 0;
}



#miniMapArea.gameOver {
  /* full screen center not 100% */
  transition: none !important;
  height: 100%;
  width: 100%;
  margin-right: 0;
  opacity: 100%;
  bottom: 0;
}
#miniMapArea.gameOver.multiplayer {
  width: 75vw;
}


// gameoption modal
.countriesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  overflow-y: scroll;
  max-height: 50vh;
}

.countryCard {
  flex: 1 0 20%; /* This will make each card take up approximately 1/3 of the container's width */
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.22);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.countryCardHeader {
  width: 100%;
  flex: 1 0 75%;
  max-width: 75%;
}

.countryCard:hover {
  transform: scale(1.05);
}

.countryName {
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
  font-size: 1.2em;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#endBanner {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  height: 20vh;
  min-height: 150px;
  background-color: rgba(106, 107, 131, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.bannerContent {
  font-size: 2em;
  text-align: center;
}



.endButtonContainer {
  display: flex;
  justify-content: space-around; /* Adjusts spacing between buttons */
  align-items: center; /* Vertically centers buttons in the container */

  button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #666;
  }
}

.mainBannerTxt {
  font-size: 1.2em;
  font-weight: 500;
  padding: 0px;
}

.motivation {
  font-size: 0.8em;
  padding: 0px;
}

@media screen and (max-width: 600px) {


  .motivation {
    font-size: 0.6em;
  }
  .mainBannerTxt {
    font-size: 0.8em;

  }


  @media screen and (max-height: 840px) {
    .mainBannerTxt {
      font-size: 0.7em;
    }
    .motivation {
      font-size: 0.5em;
    }

  }
}

#miniMapArea:hover {
  transition: all 250ms ease;
  opacity: 100%;
}


#mapControlsAbove {
  position: absolute;
  transform: translateY(-75px) translateX(-15px);
  width: 100%;
}


.multiplayerHome {
  height: calc(100vh - 83px);
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 101;
  pointer-events: none;

  animation: fadeIn 1s ease-in-out forwards;
}

.multiplayerFinalBtns {
  pointer-events: all;
}

.multiplayerOptionBtn {
  padding-left: 20px;
  padding-right: 20px;
}

.publicGame {
  background-color: #7a3232;
}
.publicGame:hover {
  background-color: #542626;
}

// chatbox
.chatboxParent {
  position: fixed;
  bottom: 20px;
  left: 10px;
  opacity: 0;
  transition: all 0.5s;
  border-radius: 10px;
  transform: translateY(100%);
  z-index: 2000;
}
.chatbox {
  display: none;
}
.chatbox.open {
  display: block;
}
.chatboxParent.enabled {
  opacity: 0.8;
  transform: translateY(0%);
}
.chatboxParent.enabled:hover {
  opacity: 1;
}
.react-chatbot-kit-chat-header {
  display: none !important;
}
.react-chatbot-kit-chat-inner-container {
  background-color: rgba(0,0,0,0) !important;
}
.react-chatbot-kit-chat-message-container {
  overflow: hidden !important;
  overflow-y: auto !important;
  border: 5px solid #0F251D;
  background-color: #B9D3DC;
  border-radius: 10px;
  height: calc(100% - 65px);
}
.react-chatbot-kit-chat-input-container {
  border-radius: 10px;
}
.react-chatbot-kit-user-chat-message,
.react-chatbot-kit-chat-bot-message {
  // make it look like a chat bubble overflow on new linw wrap
  display: inline-block;
  word-wrap: break-word;
  max-width: 60%;
  padding: 10px;
}
.react-chatbot-kit-chat-bot-message {
  margin-left: 0 !important;
}
.authorName {
  color: blue;
}
@keyframes fadeInLb {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
.multiplayerLeaderboard {
  background-color: #062413;
  border-radius: 10px;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 83px);
  top: 83px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: all 0.5s;
  animation: fadeInLb 1s ease-in-out forwards;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 110;
}


.multiplayerLeaderboard__player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff;
  width: 40%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.multiplayerLeaderboard__player.me {
  background-color: #d4edda;
}

.multiplayerLeaderboard__player__username {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.multiplayerLeaderboard__player__score {
  font-size: 14px;
  color: #000000;
}

.multiplayerLeaderboard__separator {
  font-size: 20px;
  color: #ffffff;
  margin: 10px 0;
}

@media screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}


@media screen and (min-width: 600px) {
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
}

.gameCodeInput {
  background-color: white;
  font-size: clamp(1em, 2vw, 3em);
}
.goBtn {
}